<li>
    {{burger_name}} |
    {{!-- <button class="change-todevoured" data-id="{{id}}" data-newsleep="{{devoured}}">
    </button> --}}

    <button class="delete-burger" data-id="{{id}}" data-eaten="{{devoured}}">Delete</button>
</li>